# Virtuelle Umgebungen
venv/
.env/

# PyCharm / Cursor / VS Code
.idea/
.vscode/

# Bytecode-Dateien
__pycache__/
*.py[cod]
*$py.class

# macOS-Dateien
.DS_Store

# pytest Cache
.pytest_cache/

# Sonstiges
*.log